button {
	outline: none;
}

button:focus {
	outline: none;
}

button:active {
	outline: none;
}

.row {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px
}

.container {
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}
@media (min-width:576px){
	.container {
		max-width:540px
	}
}

@media (min-width:768px) {
	.container {
		max-width:720px
	}
}

@media (min-width:992px) {
	.container {max-width:960px
	}
}

@media (min-width:1200px) {
	.container {max-width:1140px
	}
}
.container-fluid
{width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit
}

.h1, h1 {
	font-size: 2.5rem
}

.h2, h2 {
	font-size: 2rem
}

.h3, h3 {
	font-size: 1.75rem
}

.h4, h4 {
	font-size: 1.5rem
}

.h5, h5 {
	font-size: 1.25rem
}

.h6, h6 {
	font-size: 1rem
}

*, ::after, ::before {
	box-sizing: border-box
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

dl, ol, ul {
	margin-top: 0;
	margin-bottom: 1rem
}

ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0
}

a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:link {
	text-decoration: none; /* Убирает подчеркивание для ссылок */
}
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover {
	text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
}

a:hover {
	color: #0056b3;
	text-decoration: underline
}

button {
	border-radius: 0
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

button, input {
	overflow: visible
}

button, select {
	text-transform: none
}

hr {
	border: none;
}

body {
	font-family: ibm_plex_sans_regular, sans-serif;
	font-size: 12px;
	margin: 0;
}

.header {
	font-family: ibm_plex_sans_regular, sans-serif;
	font-size: 12px;
}

.site-bg_black {
	background-color: #272B34;
}

.site-bg_white .header {
	background-color: #e2e2e7;
}

.site-bg_black .header {
	background-color: #282828;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 20px 0;
}

.nav-left, .nav-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.nav-menu-logo, .nav-menu-number, .nav-menu-button {
	margin-right: 20px;
}

.nav-menu-li {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	-webkit-padding-start: 0;
}

.nav-li {
	position: relative;
	text-decoration: none;
	margin-right: 20px;
}

.site-bg_white .nav-menu .nav-menu-li .nav-li {
	color: #60697F;
}

.site-bg_black .nav-menu .nav-menu-li .nav-li {
	color: black;
}

.nav-li a {
	text-decoration: none;
	color: #60697F;
	display: flex;
	align-items: center;
}

.nav-li:first-child {
	color: #272B34;
	border-right: 1px solid #60697F;
	padding-right: 30px;
}

.site-bg_white .nav-li a:hover {
	color: #272B34;
}

.site-bg_black .nav-li a:hover {
	color: #BFD3FF;
}

.login-img {
	padding-right: 8px;
}

.nav-menu-number {
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-menu-number .nav-number {
	margin: 0;
	margin-bottom: 5px;
	width: 125px;
}

.nav-menu-button {
	width: 136px;
	height: 45px;
	display: flex;
}

.nav-menu-button .nav-order {
	background: #EB344A;
	box-shadow: 0 0 10px rgba(235, 52, 74, 0.5);
	border: none;
	/*width: 135px;*/
	/*height: 36px;*/
	color: #fff;
	font-family: ibm_plex_sans_semi-bold, sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 11px;
	text-align: center;
	letter-spacing: 0.03em;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	padding: 15px;
}

.nav-order:active {
	background-color: #EB344A;
}

.nav-order:hover {
	background-color: #FF5B6F;
}

.nav-order:focus {
	background-color: #BC344C;
}

.nav-menu-number p:last-child {
	display: flex;
	align-items: center;
	margin: 0;
}

.nav-menu-number p:last-child img {
	margin-right: 8px;
}

.site-bg_white .nav-number {
	color: #272B34;
}

.site-bg_black .nav-number {
	color: #FFFFFF;
}

.nav-menu-number .nav-number-btn {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	padding: 2px 0 0 0;
	text-decoration: none;
}

.site-bg_white .nav-number-btn {
	color: #272B34;
}

.site-bg_black .nav-number-btn {
	color: #8F9EBF;
}


.js_themeSwitcher {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

.site-bg_white .js_themeSwitcher {
	background: url("../img/white_mode.png") no-repeat 50% 50%;
	width: 40px;
	height: 30px;
}

.site-bg_black .js_themeSwitcher {
	background: url("../img/night_mode.png") no-repeat 50% 50%;
	width: 40px;
	height: 30px;
}

.profile-ul {
	display: none;
	position: absolute;
	width: 185px;
	padding: 13px;
	list-style: none;
	background-color: #e2e2e7;
	font-size: 14px;
	z-index: 9;
}

.profile-li {
	padding: 5px;
}

.profile-li a {
	color: #60697F;
	text-decoration: none;
}

.profile-hover:hover .profile-ul {
	display: block;
}

.mobile-nav-menu {
	position: relative;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: space-evenly;
	padding: 15px;
}

.mobile-login {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.mobile-login p {
	margin: 0 5px 0;
	color: #60697F;
}

.mobile-profile {
	position: relative;
	display: flex;
	align-items: center;
}

.mobile-profile img {
	width: 41px;
	height: 41px;
}

.mobile-profile .profile-arrow {
	width: 12px;
	height: auto;
	margin-left: 15px;
}

.mobile-profile-user {
	margin-left: 10px;
	text-align: center;
}

.mobile-profile-user a {
	color: #60697F;
	text-decoration: none;
}

.mobile-profile-user p {
	margin: 2px 0 0;
	color: #60697F;
}

.mobile-position {
	top: 40px;
}

.mobile-hamburger {
	position: absolute;
	display: none;
	z-index: 500;
	top: 35px;
	right: 20px;
	width: 32px;
	height: 32px;
	color: #fff;
	border: none;
	background: none;
	padding: 6px 5px;
	border-radius: 4px;
}

.mobile-hamburger span {
	display: block;
	position: relative;
	width: 100%;
	height: 3px;
	background-color: #60697F;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.mobile-hamburger span + span {
	margin-top: 5px;
}

.mobile-hamburger-open span:first-of-type {
	-webkit-transform: translateY(3px) rotate(45deg);
	-ms-transform: translateY(3px) rotate(45deg);
	transform: translateY(3px) rotate(45deg);
}

.mobile-hamburger-open span:nth-of-type(2) {
	display: none;
}

.mobile-hamburger-open span:nth-of-type(3) {
	-webkit-transform: translateY(-5px) rotate(-45deg);
	-ms-transform: translateY(-5px) rotate(-45deg);
	transform: translateY(-5px) rotate(-45deg);
}

.mobile-menu {
	display: none;
	/*visibility: hidden;*/
	position: absolute;
	top: 78px;
	right: 0;
	padding: 20px;
	list-style: none;
	background-color: #e2e2e7;
	/*transition: all ease .3s;*/
	z-index: 9;
}

.mobile-nav-menu-right, .mobile-nav-menu-left {
	display: flex;
	align-items: center;
}

.mobile-menu-li {
	padding: 5px 0;
}

.mobile-menu-li a {
	font-size: 16px;
	color: #60697F;
}

.site-bg_white .select2-container--default .select2-selection--single:hover {
	border: 1px solid #8F9EBF;
}

.site-bg_white .select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #CFD1D9;
}

.site-bg_black .select2-container--default .select2-selection--single {
	background-color: transparent;
	border: 1px solid #60697F;
}

.site-bg_white .mobile-menu {
	background-color: #e2e2e7;
}

.site-bg_black .mobile-menu {
	background-color: #282828;
}

.site-bg_white .profile-ul {
	background-color: #e2e2e7;
}

.site-bg_black .profile-ul {
	background-color: #282828;
}

.site-bg_black-datepicker {
	background-color: #272B34;
}

.site-bg_black-datepicker table {
	color: #757575;
}

/*.site-bg_white .select2-dropdown {*/
	/*background-color: #e2e2e7;*/
/*}*/

.site-bg_black-select2 {
	background-color: #272B34;
	color: #757575;
}

.site-bg_white .mobile-menu-li a {
	color: #60697F;
}

.site-bg_black .mobile-menu-li a {
	color: #8F9EBF;
}

.site-bg_white .mobile-profile-user a {
	color: #60697F;
}

.site-bg_black .mobile-profile-user a {
	color: #8F9EBF;
}

.site-bg_white .profile-li a {
	color: #60697F;
}

.site-bg_black .profile-li a {
	color: #8F9EBF;
}

@media (max-width: 992px) {
	.nav-menu {
		display: none;
	}
	.mobile-nav-menu{
		display: flex;
		flex-wrap: wrap;
	}
	.nav-left {
		margin-bottom: 20px;
	}
	.mobile-hamburger {
		display: block;
	}
	.nav-menu-night-mode {
		position: absolute;
		top: 5px;
		right: 17px;
	}
}

@media (max-width: 620px) {
	.mobile-nav-menu-right, .mobile-nav-menu-left {
		margin: 10px 20px;
	}
	.mobile-hamburger {
		top: 80px;
	}
	.nav-menu-night-mode {
		top: 40px;
	}
	.mobile-menu {
		top: 150px;
	}
}

@media (max-width: 600px) {
	.nav-menu div {
		margin-bottom: 20px;
	}
	.nav-left, .nav-right {
		display: flex;
		flex-direction: column;
	}
	.nav-menu-li {
		display: flex;
		flex-direction: column;
	}
	.nav-menu-li li {
		margin-bottom: 10px;
	}
	.nav-li:first-child {
		color: #272B34;
		border: none;
		padding-right: 30px;
	}
	.nav-li {
		margin-right: 0;
	}
}

@media (max-width: 400px) {
	.mobile-nav-menu-right, .mobile-nav-menu-left {
		flex-direction: column;
	}
	.nav-menu-logo, .mobile-profile,
	.nav-menu-number, .nav-menu-button {
		margin: 5px;
	}
	.nav-menu-number {
		margin-bottom: 20px;
	}
	.mobile-hamburger {
		top: 150px;
	}
	.nav-menu-night-mode {
		top: 95px;
	}
	.mobile-menu {
		top: 275px;
	}
}

.review.slick-slide {
	left: 0!important;
}